*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
   background-image: url(floral-ornamental-abstract-background_52683-30016.avif);
   background-size: cover;
}
    

.jumbotron{
    padding: 30px;
    background: rgb(103,103,103);
    background: linear-gradient(90deg, rgba(103,103,103,1) 8%, rgba(133,23,23,1) 78%);
    border-radius: 0px;
    text-align: center;
}

nav ul{
    display: flex;
    padding-inline: 2rem;
    gap: 3rem;
}

nav li{
    list-style-type: none;
    font-size: larger;
}

nav a{
    text-decoration: none;
    color: white;
}

nav{
    background-color: rgb(49, 66, 66);
    padding: 20px;
    position: sticky;
    top: 0;
}

footer{
    background-color: #4158D0;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    position: fixed;
    width: 100%;
}